:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f7fa;
  font-family: Roboto, sans-serif;
}

h2 {
  margin-bottom: 10px;
  font-weight: 500;
}

p {
  margin: 4px 0;
  color: #555;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ddd;
}

/* From Uiverse.io by adamgiebl */ 
.neu-button {
  background-color: #e0e0e0;
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
  color: #4d4d4d;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 40px;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(206, 206, 206);
}

.neu-button:hover {
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

.neu-button:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
}